<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<table>
    <tr>
        <th>Criteria</th>
        <th>Value</th>
        <th>Unit</th>
    </tr>
    <tr>
        <td>Start time</td>
        <td>{{meta.time.spent}}</td>
        <td>ms</td>
    </tr>
    {{#if meta.logs}}
        {{#each meta.logs}}
            <td>{{this.tag}}</td>
            <td>{{this.value}}</td>
            {{#if this.unit}}
                <td>{{this.unit}}</td>
            {{else}}
                <td>-</td>
            {{/if}}
        {{/each}}
    {{/if}}
</table>